//--------------------------------------------------------------
// Global Resets/Overrides
//--------------------------------------------------------------
*,
::after,
::before {
	@apply box-border break-words;

	word-wrap: break-word;
}

html {
	scroll-behavior: smooth;

}

body {
	margin: 0;
	padding: 0;
	background-color: #F6F3F1;
}

pre {
	@apply overflow-auto;
}

//-----------------------------------------
// Admin Overrides
//-----------------------------------------
.block-editor-writing-flow {
	@apply text-base leading-normal;
}

//-----------------------------------------
// Page Template Containers
//-----------------------------------------
.site-main {
	.entry-header,
	.entry-footer {
		@apply container;
	}
}

@font-face {
	font-family: CustomFont;
	src: url(../fonts/CustomFont-reg.woff2) format('woff2');
}


.btn {
	align-items: center;
	background-clip: padding-box;
	background-color: #fa6400;
	border: 1px solid transparent;
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	min-height: 3rem;
	padding: calc(.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;

	&:hover {
		background-color: #fb8332;
		box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
	}
}
